## Heart Failure Prediction (FINAL)
### name: Luigi Otoya
### Course: CSc 447 Machine Learning

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from matplotlib.colors import ListedColormap
## %matplotlib

#### Interpreting the data
**[0] Age:** integer value  
**[1] Sex:** Male or Female, can change to Male=1, Female=0  
**[2] ChestPainType:**
* **ATA:**  Atypical Angina
* **TA:** Typical Angina
* **NAP:** Non-anginal pain
* **ASY:** Asymptomatic  

**[3] RestingBP:** integer value  
**[4] Cholesterol:** integer value  
**[5] FastingBloodSugar:** integer value 0 or 1
**[6] RestingElectrocardioGraphic Results:**
* **value 0:** normal
* **value 1:** ST
* **value 2:** showing probable or definite LVH(Left Ventricular Hypertrophy)

**[7] MaxHR:** integer value
**[8] ExerciseAngina:** Y or N, cam change to Y=1, N=0  
**[9] OldPeak:** ST depression induced by exercise relative to rest, integer value  
**[10] ST_Slope:** The slope of the peak exercise ST segment
* **value 0:** upsloping (Up)
* **value 1:** flat
* **value 2:** downsloping (down)

**[11] HeartDiesease:**
* **value 0:** < 50% diameter narrowing
* **value 1:** > 50% diameter narrowing

In [41]:
# read data set
df = pd.read_csv('heart.csv', header = None)  
df.tail(5)

     0  1    2    3    4  5       6    7  8    9     10 11
914  45  M   TA  110  264  0  Normal  132  N  1.2  Flat  1
915  68  M  ASY  144  193  1  Normal  141  N  3.4  Flat  1
916  57  M  ASY  130  131  0  Normal  115  Y  1.2  Flat  1
917  57  F  ATA  130  236  0     LVH  174  N    0  Flat  1
918  38  M  NAP  138  175  0  Normal  173  N    0    Up  0

## Pre-Process the data
* ### Determine categorical and numerical variables
* ### Determine and handle outliers in the data

In [31]:
# Check for missing values and duplicates
print('Duplicates:', df.duplicated().sum())
print('Missing Values:', df.isnull().sum())
df.dtypes.value_counts()

Duplicates: 0
Missing Values: 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
dtype: int64

object    12
dtype: int64